{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Denis Samardjiev" />
	<meta name="description" content="Particles - Personal + Agency Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Photosynthetic Arts</title>
	
	<!-- Royal Preloader CSS -->
	<link href="{% static 'css/royal_preloader.css' %}" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Parallax File -->
	<script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="{% static 'js/royal_preloader.min.js' %}"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/logoiconfont.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" title="main-css">

	<!-- Style Switcher / remove for production -->
	<link href="{% static 'css/style-switcher.css' %}" rel="stylesheet">
	
	<!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/blue.css' %}" title="blue">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/green.css' %}" title="green">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/orange.css' %}" title="orange">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/red.css' %}" title="red">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/orangelight.css' %}" title="orangelight">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/pinkish.css' %}" title="pinkish">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/seagul.css' %}" title="seagul">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/base-light.css' %}" title="base-light">
</head>
<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
	<div id="royal_preloader"></div>

	<!-- Begin Header -->
	<header>
		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand scroll-link" href="#home" data-id="home"><span class="icon-handle-streamline-vector logo"></span></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home" data-id="home" class="scroll-link">Home</a></li>
							<li><a href="#ideology" data-id="ideology" class="scroll-link">Ideology</a></li>
							<li><a href="#services" data-id="services" class="scroll-link">Services</a></li>
							<li><a href="#about" data-id="about" class="scroll-link">About</a></li>
							<li><a href="#work" data-id="work" class="scroll-link">Work</a></li>
							<li><a href="#team" data-id="team" class="scroll-link">Team</a></li>
							<li><a href="#contact" data-id="contact" class="scroll-link">Contact</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-down"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{% static 'components.html' %}">Components</a></li>
									<li><a href="{% static 'pricing-options.html' %}">Pricing Options</a></li>
									<li><a href="{% static 'team-options.html' %}">Team Options</a></li>
									<li><a href="{% static 'https://wrapbootstrap.com/theme/particles-personal-agency-template-WB05N7852" target="_blank">Purchase</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<!-- End Navigation -->
	</header>
	<!-- End Header -->

	<!-- Begin Jumbotron -->
	<div class="jumbotron jumbotron-main" id="home">
		<div id="particles-js"></div><!-- /.particles div -->
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
					<h1 class="scaleReveal">
						We are <strong>Photosynthetic Arts</strong>.
					</h1>
					<hr class="bottomReveal">
					<p class="bottomReveal">with passion - with love.</p>
					<a href="#ideology" data-id="ideology" class="scroll-link">
						<div class="scroll-indicator rotateBottomReveal">
							<span class="ion-mouse"></span><br>
							<span class="ion-android-arrow-down arrow-scroll-indicator"></span>
						</div>
					</a>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</div>
	<!-- End Jumbotron -->

	<!-- Begin Intro -->
	<section id="ideology">

		<!-- Begin Hello Intro -->
		<div id="hello-intro" class="pt60 pb60">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-sm-3">
						<h2 class="no-margin rotateLeftReveal">Hello.</h2>
					</div>
					<div class="col-lg-10 col-sm-9 mt30-xs">
						<h3 class="no-margin rightReveal">We are an interactive agency with a focus on UI design and development. Our team is from all over the world and <strong>we know how to deliver quality pixels from miles away</strong>.</h3>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Hello Intro -->







	<!-- Begin Footer -->
	<footer class="footer-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<span class="icon-handle-streamline-vector logo"></span>
					<h2 class="theme-title">Particles<span class="theme-title-smaller">Theme</span></h2>
					<a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-small text-center">
					<hr>
					<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
					<p class="no-margin">&copy; Denis Samardjiev</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.footer -->
	<!-- Begin Footer -->

	<!-- Javascript Files -->
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
    <script type="text/javascript">
		/* ---- Google Maps ---- */
        function initMap() {
            var mapOptions = {
                zoom: 15,
				zoomControl: false,
				scaleControl: false,
				scrollwheel: false,
				disableDoubleClickZoom: true,
                center: new google.maps.LatLng(40.6700, -73.9400), // New York
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
                title: 'Our Office!'
            });
        }
    </script>
	<script type="text/javascript" src="{% static 'js/particles.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/particlesRun.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.mixitup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/form-validator.min.js' %}"></script>  
	<script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>  
	<script type="text/javascript">
		/* ---- Counter (our count) ---- */
		$('#ourcount').one('inview', function(event, isInView) {
			if (isInView) {
				$('.timer').countTo({speed: 3000});
			}
		});
	</script>
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scrollreveal.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/style-switcher.js' %}"></script><!-- Remove for production -->
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
