{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Photosynthetic Arts" />
	<meta name="description" content="Photosynthetic Arts">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Photosynthetic Arts</title>
	
	<!-- Royal Preloader CSS -->
	<link href="{% static 'css/royal_preloader.css' %}" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Parallax File -->
	<script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="{% static 'js/royal_preloader.min.js' %}"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/logoiconfont.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" title="main-css">

	<!-- Style Switcher / remove for production -->
	<link href="{% static 'css/style-switcher.css' %}" rel="stylesheet">
	
	<!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/blue.css' %}" title="blue">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/green.css' %}" title="green">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/orange.css' %}" title="orange">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/red.css' %}" title="red">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/orangelight.css' %}" title="orangelight">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/pinkish.css' %}" title="pinkish">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/seagul.css' %}" title="seagul">
	<link rel="alternate stylesheet" type="text/css" href="{% static 'css/base-light.css' %}" title="base-light">
</head>
<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
	<div id="royal_preloader"></div>

	<!-- Begin Header -->
<header>
		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home" data-id="home" class="scroll-link">Home</a></li>
							<li><a href="#ideology" data-id="ideology" class="scroll-link">We are</a></li>
							<li><a href="#team" data-id="team" class="scroll-link">Collective</a></li>
							<li><a href="#work" data-id="work" class="scroll-link">Gallery</a></li>
							<li><a href="#services" data-id="services" class="scroll-link">Projects</a></li>
							<li><a href="#contact" data-id="contact" class="scroll-link">Contact</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<!-- End Navigation -->
	</header>
	<!-- End Header -->

	<!-- Begin Jumbotron -->
	<div class="jumbotron jumbotron-main" id="home">
			<div id="particles-js"></div><!-- /.particles div -->
		</div>
		<!-- End Jumbotron -->
	


	<!-- Begin Intro -->
	<section id="ideology">

		<!-- Begin Hello Intro -->
		<div id="hello-intro" class="pt60 pb60">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-sm-3">
						<h2 class="no-margin rotateLeftReveal">Hello.</h2>
					</div>
					<div class="col-lg-10 col-sm-9 mt30-xs">
						<h4 class="no-margin rightReveal">Photosynthetic Arts is a collective of artists based on photography, videography and webdesign. We are focusing on landscape-, nature-, lifestyle- and eventphotography.<br><br>
							Beside the passion for cameras, we are connected through the love to nature, our lifestyle, travelling and nevertheless the desire to evolve as conscious human being. This was the headstone to pave the way for a collective cooperation.<br><br>
							We have discovered creative spirits in our beloved sphere and their productions laid the base for our first projects as a collective. Stay tuned!<br><br>
							We want to create. We want to dream. We want to be inspired. We want to inspire. Lets get in touch!<br><br>
							<strong>With Passion - With Love ❤️ </strong><br><br>
							Jan, Nathanael, Orell, Remo</h4>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
	<!-- End Hello Intro -->

	<!-- Begin Collective -->
	<section id="team" class="background1 section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Collective</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb40">

				<!-- Item 1 -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-sm mt30-xs topReveal">
						<div class="team-member-box">
							<h3>Orell Hürzeler</h3>
							<p class="mb60"></p>
							<div class="team-image-wrapper">
								<img src="{% static 'images/orell_square.jpg' %}" alt="1 Member" class="img-responsive img-circle team-member-img">
							</div>
						</div>
				</div><!-- /.column -->

				<!-- Item 2 -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-sm mt30-xs bottomReveal" >
						<div class="team-member-box">
							<h3>Remo Iseli</h3>
							<p class="mb60"></p>
							<div class="team-image-wrapper">
								<img src="{% static 'images/iseli_square.jpg' %}" alt="2 Member" class="img-responsive img-circle team-member-img">
							</div>
						</div>
				</div><!-- /.column -->

				<!-- Item 3 -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-sm mt30-xs topReveal">
						<div class="team-member-box">
							<h3>Jan Hürzeler</h3>
							<p class="mb60"></p>
							<div class="team-image-wrapper">
								<img src="{% static 'images/jan_square.jpg' %}" alt="3 Member" class="img-responsive img-circle team-member-img">
							</div>
						</div>
				</div><!-- /.column -->

				<!-- Item 4 -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-sm mt30-xs bottomReveal">
						<div class="team-member-box">
							<h3>Nathanael Frank</h3>
							<p class="mb60"></p>
							<div class="team-image-wrapper">
								<img src="{% static 'images/Nate_square.jpg' %}" alt="4 Member" class="img-responsive img-circle team-member-img">
							</div>
						</div>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Collective -->
	
	<!-- Begin Our Count -->
	<section id="ourcount" class="section-padding parallax-window our-count" data-parallax="scroll" data-image-src="{% static 'images/group.jpg' %}">
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
					<h1 class="scaleReveal">
					<br><br>
					<br><br>
					<br><br>
					<br><br>
					<br><br>
					<br><br>
					<br><br>
					</h1>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Our Count -->

<!-- Begin Work -->
<section id="work" class="background1 section-padding-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Gallery</h2>
					<span class="section-divider mb15"></span>
					<p class="mb30 scaleReveal">We are creating awesome stuff, with passion - with love</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-xs-12 text-center mb50">
					<!-- Filter Buttons -->
					<button class="filter btn btn-default btn-category btn-lg" data-filter="all">All</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".orell">Orell Hürzeler</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".remo">Remo Iseli</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".jan">Jan Hürzeler</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".nate">Nathanael Frank</button>

					<!-- Sort Buttons -->
					<button class="sort btn btn-default btn-sort btn-lg" data-sort="my-order:asc"><span class="ion-ios-plus-empty"></span></button>
					<button class="sort btn btn-default btn-sort btn-lg" data-sort="my-order:desc"><span class="ion-ios-minus-empty"></span></button>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div id="thework">
				<!-- Item 1 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix orell" data-my-order="3">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/landscape.jpg' %}" alt="1" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Landscape</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/landscape.jpg' %}" class="zoom" title="Orell">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">by Orell</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 2 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print jan" data-my-order="6">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/milkyway.jpg' %}" alt="2" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Milkyway</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/milkyway.jpg' %}" class="zoom" title="Milkyway">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">by Jan</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 3 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix nate" data-my-order="4">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/hallwilersee.jpg' %}" alt="3" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Hallwilersee</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/hallwilersee.jpg' %}" class="zoom" title="Hallwilersee">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">by Nate</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 4 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix orell" data-my-order="5">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/mountainmirror.jpg' %}" alt="4" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Mountain Mirror</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/mountainmirror.jpg' %}" class="zoom" title="Mountain Mirror">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">by Orell</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 5 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print orell" data-my-order="2">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/Blitz.jpg' %}" alt="5" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Thunderbolt</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/Blitz.jpg' %}" class="zoom" title="Thunderbolt">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">by Orell</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 6 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix remo" data-my-order="1">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/koenigsallee.jpg' %}" alt="6" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Königsallee, Düsseldorf</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/koenigsallee.jpg' %}" class="zoom" title="Königsallee, Düsseldorf">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">by Remo</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 7 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics nate" data-my-order="9">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/Gian.jpg' %}" alt="7" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Portrait</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/Gian.jpg' %}" class="zoom" title="Nature">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">by Nate</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 8 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix jan" data-my-order="7">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/smokings.jpg' %}" alt="8" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Smokings</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/smokings.jpg' %}" class="zoom" title="Smokings">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">Photo by Jan<br>Edited by Orell</span>
						</span>
					</span>
			    </div><!-- /.column -->

			    <!-- Item 9 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix web" data-my-order="8">
			    	<div class="portfolio-image-holder"><img src="{% static 'images/saxofon.jpg' %}" alt="9" class="img-responsive portfolio-image"></div>
			    	<span class="portfolio-badge badge">Saxofon</span>
			    	<span class="portfolio-hover">
						<span>
							<a href="https://dribbble.com/" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="{% static 'images/saxofon.jpg' %}" class="zoom" title="Saxofon">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
							<span class="project-title no-margin-bottom mt10">by Orell</span>
						</span>
					</span>
			    </div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Work -->
	

	<!-- Begin Timeline -->
	<section id="services" class="background2 section-padding-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Projects</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline pb80">

						<!-- Item 1 -->
						<li>
							<div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="{% static 'images/PhA_mini_black.png' %}"></div>
							<div class="timeline-panel leftReveal">
								<div class="timeline-heading">
									<h5 class="heading-1 mb15">17. Oktober 2018</h5>
									<h4 class="subheading">A collektive consciousness comes into being</h4>
								</div>
								<div class="timeline-body">
									<p>Some guys with gear and a vision <br>came together and designed a collective. <br><br>With passion - with love. </p>
								</div>
							</div>
						</li>

						<!-- Item 2 -->
						<li class="timeline-inverted">
							<div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="{% static 'images/smokings_square.jpg' %}"></div>
							<div class="timeline-panel rightReveal">
								<div class="timeline-heading">
									<h5 class="heading-1 mb15">Oktober 2018</h5>
									<h4 class="subheading">Smokings</h4>
								</div>
								<div class="timeline-body">
									<p>Exploring a castle ruin with smoke-bombs.</p>
								</div>
							</div>
						</li>

						<!-- Item 3 -->
						<li>
							<div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="{% static 'images/Voigedelic.jpg' %}"></div>
							<div class="timeline-panel leftReveal">
								<div class="timeline-heading">
									<h5 class="heading-1 mb15">Oktober 2018</h5>
									<h4 class="subheading">Voigedelic Art</h4>
								</div>
								<div class="timeline-body"> <p>Nicolas Voigt - A creative spirit decorates your party. His masterpiece creations kicks you in an other dimension. We are monitoring his productions and let you dive into the world of Voigedelic Art.</p>
								</div>
							</div>
						</li>

						<!-- Item 4 -->
						<li class="timeline-inverted">
							<div  class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="{% static 'images/Wunderbar.jpg' %}"></div>
							<div class="timeline-panel rightReveal">
								<div class="timeline-heading">
									<h5 class="heading-1 mb15">Oktober 2018</h5>
									<h4 class="subheading">Wunderbar Olten</h4>
								</div>
								<div class="timeline-body">
									<p>The Wunderbar is a fantastic place to be. We share with you the insights of this wonderful bar with all facets.</p>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Timeline -->

<!-- Begin Contact -->
<section id="contact" class="background1 section-padding">
		<div class="container">
			<div class="row mb30">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
					<h2>Contact</h2>
					<span class="section-divider mb15"></span>
					<p class="no-margin scaleReveal">We are very pleased that you are here, so lets play with your keyboard and send us whatever you like. We would love hearing from you!</p><br>
					<a href="mailto:hfiproductions@outlook.com" class="btn btn-default btn-lg">E-Mail</a><br><br>
					<a href="https://www.facebook.com/photosynthetic.art/" target="_blank" class="btn btn-default btn-lg">Facebook</a><br><br>
					<a href="https://www.instagram.com/photosynthetic.art/" target="_blank" class="btn btn-default btn-lg">Instagram</a>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Contact -->



	<!-- Begin Footer -->
	<footer class="footer-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<img src="{% static 'images/PhA_mini_black.png' %}" alt="Team Member" class="img-responsive team-member-img text-center">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-small text-center">
					<hr>
					<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
					<p class="no-margin">&copy; Photosynthetic Arts<br>Designed with passion - with ♥️ <br>by Remo Iseli</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.footer -->
	<!-- Begin Footer -->

	<!-- Javascript Files -->
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
    <script type="text/javascript">
		/* ---- Google Maps ---- */
        function initMap() {
            var mapOptions = {
                zoom: 15,
				zoomControl: false,
				scaleControl: false,
				scrollwheel: false,
				disableDoubleClickZoom: true,
                center: new google.maps.LatLng(40.6700, -73.9400), // New York
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
                title: 'Our Office!'
            });
        }
    </script>
	<script type="text/javascript" src="{% static 'js/particles.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/particlesRun.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.mixitup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/form-validator.min.js' %}"></script>  
	<script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>  
	<script type="text/javascript">
		/* ---- Counter (our count) ---- */
		$('#ourcount').one('inview', function(event, isInView) {
			if (isInView) {
				$('.timer').countTo({speed: 3000});
			}
		});
	</script>
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scrollreveal.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/style-switcher.js' %}"></script><!-- Remove for production -->
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
