<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Denis Samardjiev" />
	<meta name="description" content="Particles - Personal + Agency Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Particles - Personal + Agency Template</title>
	
	<!-- Royal Preloader CSS -->
	<link href="css/royal_preloader.css" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="js/royal_preloader.min.js"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/ionicons.min.css" rel="stylesheet">
	<link href="css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="https://file.myfontastic.com/gC6yNbQq8CqvXgSqXQZAoH/icons.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" title="main-css">


	<!-- Style Switcher / remove for production -->
	<link href="css/style-switcher.css" rel="stylesheet">
	
	<!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
	<link rel="alternate stylesheet" type="text/css" href="css/colors/blue.css" title="blue">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/green.css" title="green">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/orange.css" title="orange">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/red.css" title="red">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/orangelight.css" title="orangelight">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/pinkish.css" title="pinkish">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/seagul.css" title="seagul">
	<link rel="alternate stylesheet" type="text/css" href="css/base-light.css" title="base-light">
</head>
<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
	<div id="royal_preloader"></div>

	<!-- Begin Header -->
	<header>
		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand scroll-link" href="#team-option1" data-id="team-option1"><span class="icon-handle-streamline-vector logo"></span></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#team-option1" data-id="team-option1" class="scroll-link">Option 1</a></li>
							<li><a href="#team-option2" data-id="team-option2" class="scroll-link">Option 2</a></li>
							<li><a href="javascript:history.back(1)"><span class="glyphicon glyphicon-menu-left"></span></a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<!-- End Navigation -->

		<!-- Breadcrumbs -->
		<div class="breadcrumb-holder">
			<div class="container-fluid">
				<div class="row">
					<!-- Page Title -->
					<div class="hidden-xs col-sm-6">
						<h1>Team Options</h1>
					</div>

					<!-- Breadcrumbs -->
					<div class="col-xs-12 col-sm-6 text-right">
						<ol class="breadcrumb">
							<li><span class="ion-home breadcrumb-home"></span><a href="../templates/home.html">Home</a></li>
							<li>Team Options</li>
						</ol>
					</div><!-- /column --> 
				</div><!-- /row -->  
			</div><!-- /container -->  
		</div>
	</header>
	<!-- End Header -->

	<!-- Begin Footer -->
	<footer class="background1 footer-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<span class="icon-handle-streamline-vector logo"></span>
					<h2 class="theme-title">Particles<span class="theme-title-smaller">Theme</span></h2>
					<a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-small text-center">
					<hr>
					<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
					<p class="no-margin">&copy; Denis Samardjiev</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.footer -->
	<!-- Begin Footer -->

	<!-- Javascript Files -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.mixitup.js"></script>
	<script type="text/javascript" src="js/form-validator.min.js"></script>  
	<script type="text/javascript" src="js/jquery.countTo.js"></script>  
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/scrollreveal.min.js"></script>
	<script type="text/javascript" src="js/style-switcher.js"></script><!-- Remove for production -->
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>




